<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_API_BASE_URL</key>
	<string>$(APP_API_BASE_URL)</string>
	<key>APP_API_STAGING_URL</key>
	<string>$(APP_API_STAGING_URL)</string>
	<key>APP_STAGING_USER</key>
	<string>$(APP_STAGING_USER)</string>
	<key>APP_STAGING_PASSWORD</key>
	<string>$(APP_STAGING_PASSWORD)</string>
	<key>APP_STAGING_VERSION</key>
	<string>$(APP_STAGING_VERSION)</string>
	<key>APP_STAGING_OTP_TIMEZONE</key>
	<string>$(APP_STAGING_OTP_TIMEZONE)</string>
	<key>APP_ENV</key>
	<string>$(APP_ENV)</string>
	<key>APP_OTP_TIMEZONE</key>
	<string>$(APP_OTP_TIMEZONE)</string>
	<key>APP_PASSWORD</key>
	<string>$(APP_PASSWORD)</string>
	<key>APP_TYPE</key>
	<string>$(APP_TYPE)</string>
	<key>APP_USER</key>
	<string>$(APP_USER)</string>
	<key>APP_VERSION</key>
	<string>$(APP_VERSION)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>gpay</string>
		<string>phonepe</string>
		<string>paytmmp</string>
		<string>bhim</string>
		<string>tez</string>
		<string>credpay</string>
		<string>amazonpay</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>13.200.42.214</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
